* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden  ;
}

.intro {
    width: 100vw;
    height: 800px;
    background-color: black;
    padding-top: 200px;
}

.heading-container {
    color: goldenrod;
    max-width: 500px;
    height: 100px;
    text-align: center;
    margin: 0 auto 0 auto;
    
}

.heading {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
}

.heading-subtext {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: italic;
}

.second-part-page {
    padding: 30px;
    background: url(../media/green\ blue\ gradient.png) no-repeat;
    object-fit: cover;
    background-size: cover;
    height: ;
}

.chart-container-1 {
    margin: 0 auto 10px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    width: 50vw;
    min-width: 400px;
    max-width: 800px;
    max-height: 400px;
    background-color: rgba(8, 12, 20, 0.877);
    border-radius: 1em;
    padding: 0.5em 1.5em 1.5em 1em;
    margin-top: 70px;
    overflow: hidden;
}


.caption-container {
    width: 50vw;
    min-width: 400px;
    max-height: 400px;
    max-width: 800px;
    background-color: rgba(8, 12, 20, 0.877);
    margin-top: 30px;
    border-radius: 1em;
    text-align: left;
    color: white;
    padding: 1em;
}

.caption-container p {
    margin: 0 auto 0 auto;
    max-width: 700px;
    font-family: "Poppins", sans-serif;
    color: beige;
}